.MyPageContainer {
    background-color: #FFFFFF; 
    width: 626px;
    padding: 80px;
    margin: auto;
    border-radius: 20px;
    margin-top: 200px;
    
}

.topFont {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
}
.topFont2 {
    font-size: 15px;
    margin-bottom: 20px;
    text-align: center;
    color: #999999;
}

.inputWrapper {
    display: flex;
}

.email {
    width: 626px;
    height: 20px;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    padding: 20px;
}

.email:focus {
    border-color: #FF8901;
    outline: none; 
    border-width: 2px;
}

.email::placeholder {
    font-size: 15px;
}


.formGroup {
    width: 626px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.formGroup p {
    margin: 0 0 10px 0; /* 레이블과 입력 필드 사이에 여백 추가 */
    font-weight: 500;
}

.inputWrapper {
    position: relative;
    width: 100%;
}

.inputWrapper input {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 2px solid #E5E5E5;
    font-size: 15px;
    padding: 20px;
    padding-right: 50px; /* 아이콘을 위한 여백 추가 */
}

.inputWrapper input::placeholder {
    font-size: 16px;
}

.inputWrapper input:focus {
    border-color: #FF8901;
    outline: none; 
    border-width: 2px;
}

.inputWrapper .icon {
    position: absolute;
    right: 15px;
    top: 20px;
    cursor: pointer; /* 아이콘이 클릭 가능하도록 설정 */
}
.loginButton {
    width: 626px;
    height: 60px;
    padding: 20px 213px;
    box-sizing: border-box;
    background-color: #BBBBBB;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-top: 99px;
    font-size: 16px;
    font-weight: 500;
}
.loginButton.active {
    background-color: #FF8901; /* 활성화된 배경색 */
}