/* MyPosts.module.css */
.MyPosts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 10px; */
}

.PublicBoard {
    margin-bottom: 200px; /* 아래 간격 설정 */
}