/* MyPosts.module.css */
.MyPosts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 190px;
}

.PublicBoard {
    margin-bottom: 200px; /* 아래 간격 설정 */
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagination button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}