/* 고객센터 */
.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

/* 배너 이미지 */
.serviceBanner {
    background-color: #40B9D8;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 102px;
    border-radius: 0px;
}

.bannerPosition {
    width: 786px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 102px;
}

.logoPosition {
    margin-top: 5.9px;
}

.serviceLogo {
    width: 270.95px;
}

.logoTitle {
    font-weight: 500;
    font-size: 32px;
    color: #FFFFFF;
    width: 118px;
}

/* 고객센터 탭 */
.serviceContents {
    width: 786px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px; 
}

.serviceNav {
    width: 100%;
    display: flex;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.serviceNav .navContent {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
    margin-left: 30px;
    gap: 30px;
    height: 60px;
}

.navItems {
    font-weight: 700;
    font-size: 20px;
    color: #999999;
    position: relative;
}

.navItems.active {
    color: #101010;
}

.navItems.active::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
    height: 2px;
    background-color: #FF8901;
    border-radius: 18px;
}

.navItems:hover::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
    height: 2px;
    background-color: #FF8901;
    border-radius: 18px;
}

.serviceTabContent {
    width: 100%;
    margin-top: 11px;
}

.serviceTitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 20.03px;
    text-align: left;
}

/* FAQ(자주 묻는 질문) */
.faqContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* margin-top: 11px; */
}

.faqItem {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #ffffff;
}

.faqHeader {
    display: flex;
    padding: 30px;
    align-items: center;
    cursor: pointer;
}

.faqIcon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.faqDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
}

.faqTitle {
    font-size: 16px;
    font-weight: 700;
    line-height: 20.03px;
    color: #101010;
}

.faqSubtitle {
    font-size: 15px;
    font-weight: 400;
    line-height: 18.78px;
    color: #999999;
}

.faqContent {
    padding: 30px;
    border-radius: 20px;
    background-color: #ffffff;
}

.faqContentImage {
    width: 100%;
    max-width: 726px;
    margin: auto;
}

.faqContentText {
    font-size: 15px;
    font-weight: 500;
    color: #101010;
    line-height: 18.78px;
    white-space: pre-line;
}

.faqDivider {
    width: 726px;
    height: 1px;
    background-color: #F3F3F3;
    position: absolute;
    margin-left: 30px;
}

/* 문의하기 */
.inqContainer {
    background-color: #FFFFFF;
    border-radius: 20px;
    /* margin-top: 11px; */
    padding: 20px;
}

.inyHeader {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    padding: 10px;
}

.inqIcon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.inqDivider {
    width: 726px;
    height: 1px;
    background-color: #F3F3F3;
    position: absolute;

}

.inqForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin:0 10px 0 10px;
}

.inqField {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.inqField label {
    font-weight: 500;
    font-size: 16px;
    color: #101010;
}

/* 문의 내용 선택 창 */
.inqSelect {
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
    color: #FF8901;
    width: 106px;
    text-align: center;
    cursor: pointer;
}

/* 문의 종류 */
.dropdown {
    position: absolute;
    width: 106px;
    border: 1px solid #F3F3F3;
    background-color: white;
    transform: translateX(58%) translateY(55%);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 14px;
    padding: 10px 0px 10px 0px;
    box-shadow: 0px 2px 3.9px 0px #00000080;

}

/* 문의 종류 리스트 */
.dropdownItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 106px;
    height: 31px;
}

.dropdownItem:hover {
    width: 106px;
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
}

.inqInput,
.inqTextarea {
    border: none;
    outline: none;
}

.inqInput {
    width:683.77px;
    font-weight: 500;
    font-size: 16px;
    outline: none;
}

.inqTextarea {
    width: 100%;
    resize: none;
    font-weight: 500;
    font-size: 15px;
    height: 309px;
}

.fileUpload {
    width: 138px;
    height: 138px;
    border: 1px solid #E3E3E3;
    background-color: #E3E3E3;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0px;
}

/* 이미지 구간 */
.imageBox {
    display: flex;
    justify-content: flex-start; /* 이미지를 왼쪽부터 정렬 */
    width: 100%;
    gap: 9px;
    margin-top: 10px;
}

.uploadedFile {
    position: relative;
    flex: 1;
    max-width: calc(20% - 10px);
    height: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploadedFile img {
    width: 138px; 
    height: 138px;
    border-radius: 5px;
}

/* 이미지 제거 버튼 */
.removeButton {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}

.uploadedFile:hover .removeButton {
    display: block;
}

.removeButton img {
    width: 20px;
    height: 20px;
}

/* 문의넣기 버튼 구간 */
.submitButtonContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.uploadIcon {
    cursor: pointer;
}

/* 비활성화 버튼 */
.disabledSubmitButton {
    background-color: #BBBBBB;
    color: #FFFFFF;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    cursor: not-allowed; /* 클릭 하지마! */
    font-size: 16px;
    font-weight: 500;
    margin: 40px 0 50px 0;
    border: none;
}

/* 활성화 버튼 */
.activeSubmitButton {
    background-color: #FF8901;
    color: #FFFFFF;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    margin: 40px 0 50px 0;
    border: none;
}

/* 문의 내역 */
.inquiryContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* margin-top: 11px; */
}

/* 문의 내역 전체 리스트 */
.inquiryItem {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #ffffff;
}

/* 문의 내역 리스트 1칸 */
.inquiryHeader {
    display: flex;
    padding: 30px;
    align-items: center;
    cursor: pointer;
}

/* 문의 내역 아이콘 */
.inquiryIcon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

/* 제목 및 답변받은 날짜 */
.inquiryDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
}

/* 문의 제목 구간 */
.inquiryTitleContainer {
    display: flex;
}

/* 문의 제목 */
.inquiryTitle {
    font-size: 16px;
    font-weight: 700;
    line-height: 20.03px;
    color: #101010;
}

/* 문의 이미지 박스 */
.inquiryImageBox {
    display: flex;
    gap: 9px;
    width: 726px;
    border-radius: 0px;
    margin-top: 20px;
}

/* 문의 이미지 */
.inquiryContentImage {
    width: 138px;
    height: 138px;
    cursor: pointer;
    object-fit: cover; /* 이미지 비율 유지 */
    border-radius: 0px;
    /* border: #BBBBBB 1px solid; */
}

/* 문의 답변 */
.inquiryResponse {
    /* 배경 */
    width: 50px;
    height: 17px;
    padding: 2px 6px 2px 6px;
    border-radius: 83px;
    opacity: 0px;
    background-color: #FF8901;

    /* 글자 */
    font-size: 10px;
    font-weight: 700;
    line-height: 12.52px;
    letter-spacing: 0.0075em;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
}

/* 답변 받은 날짜 */
.inquirySubtitle {
    font-size: 15px;
    font-weight: 400;
    line-height: 18.78px;
    color: #999999;
}

/* 문의 내역 내용 */
.inquiryContent {
    padding: 30px;
    border-radius: 20px;
    background-color: #ffffff;
}

/* 답변 글자 */
.responsHeader {
    padding: 20px 30px 0 30px;
    font-weight: 700;
    font-size: 18px;
    color: #FF8901;
}
/* 답변 내용 */
.responseContent {
    padding: 20px 30px 30px 30px;
    border-radius: 20px;
    background-color: #ffffff;
}
/* 답변 내용 글 */
.responseContentText {
    font-size: 15px;
    font-weight: 500;
    color: #101010;
    white-space: pre-line;
}

/* 내역 없을 때 */
.noHistory {
    display: flex;
    width: 786px;
    height: 240px;
    gap: 0px;
    border-radius: 20px;
    opacity: 0px;
    background-color: #FFFFFF;

    font-size: 14px;
    font-weight: 500;
    line-height: 17.53px;
    align-items: center;
    justify-content: center;
    color: #999999;
}

/* 제재 내역 */
.sanctionContainer {
    background-color: #FFFFFF;
    border-radius: 20px;
    /* margin-top: 11px; */
    /* padding: 20px; */
}

/* 제재 리스트 */
.sanctionList {
    display: flex;
    flex-direction: column;
}

/* 아이콘 포함 내용 */
.sanctionItem {
    display: flex;
    padding: 30px;
    border-radius: 10px;
    align-items: center;
    background-color: #ffffff;
    position: relative;
}

/* 제재내역 아이콘 이미지 */
.sanctionIcon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

/* 제제내역 상세 */
.sanctionDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 726px;
    flex: 1;
}

/* 몇일 정지인지 */
.sanctionTitle {
    font-size: 16px;
    font-weight: 700;
    color: #101010;
}

.sanctionContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* 신고 내용 */
.sanctionSubtitle {
    font-size: 15px;
    font-weight: 400;
    color: #999999;
}

/* 제제 날짜 (~yyyy.mm.dd까지) */
.sanctionDate {
    font-size: 15px;
    font-weight: 400;
    color: #999999;
    text-align: right;
}

/* 제재내역 구분 선 */
.sanctionDivider {
    width: 726px;
    height: 1px;
    background-color: #F3F3F3;
    position: absolute;
    bottom: 0;
}

/* 페이징 */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 14px;
}
/* 이전 페이지 버튼 */
.pagePreButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 84px;
}
/* 다음 페이지 버튼 */
.pageNextButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 84px;
}
/* 페이지/전체페이지 */
.pageInfo {
    font-size: 16px;
    font-weight: 500;
}

/* 이미지 모달 */
.imageModalContainer {
    position: fixed;
    display: flex;
    z-index: 1000;
    top: 0px;
    left: 0px;
    background-color: rgb(0, 0, 0,0.9);
    width: 100%;
    height: 100%;
    min-height: 50%;
    border-radius: 0px;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* 이미지 + 버튼 */
.imageModalContent {
    position: relative;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 닫기 버튼 */
.imageModalCloseButton {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.imageModalPrevButton,
.imageModalNextButton {
    background: none;
    border: none;
    cursor: pointer;
    width:40px;
}

.imageModalImage {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100%;
    margin-bottom:10px;
}

/* 이미지 크기 */
.imageModalImage img {
    width: 70%;
    height: 70%;
}

/* 처음과 마지막 버튼 안보이게 하기 */
.airBox {
    display: none;
}
