.mainDiv {
    position: relative;
    z-index: -5;
    width: 726px;
    background-color: white;
    margin: 10px 0px;
    padding: 20px 30px;
}

.title {
    width: 726px;
    height: 25px;
    padding: 7.5px 0px;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.title .imgDiv{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title .imgDiv img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지가 컨테이너를 완전히 채우도록 조정 */
    object-position: center; /* 이미지의 중앙을 기준으로 자름 */
}

/**/
.dashed {
    border-bottom: 1px solid #F3F3F3;
    border-radius: 0px;
    margin: 20px 0px;
}

/* nav */
.widthNav {
    position: relative;
    width: 726px;
    height: 24px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 20px 0px;
}

.widthNav .commentsDiv {
    width: 230px;
    display: flex;
    justify-content: space-between;
}

.widthNav .name {
    font-size: 18px;
    font-weight: 500;
}

.widthNav .comments {
    cursor: pointer;
    padding-right: 20px;
    font-weight: 400;
    color: #999999;
    margin-left: 10px;
}

.widthNav .arrayDiv {
    display: flex;
}
.widthNav div {
    display: flex;
}

.widthNav img {
    cursor: pointer;
}

.grayText {
    color: gray;
    margin: 0px 6px;
}

/*본문*/
.contentArea {
    position: relative;
    z-index: -1;
    width: 726px;
    display: flex;
    word-wrap: break-word;
}

.contentArea .text {
    width: 529px;
    max-width: 726px;
    margin-right: 20px;
}
.contentArea .text2 {
    max-width: 726px;
    margin-right: 20px;
}

/*이미지 관련 코드*/
.contentArea .imgClick{
    position: relative;
    z-index: 0;
    width: 177px;
    height: 177px;
    border-radius: 0px;
}
.contentArea .imgClick img {
    width: 177px;
    height: 177px;
}
.contentArea .imgClick .imgArea {
    position: absolute;
    top: 0px;
    width: 177px;
    height: 177px;
    border-radius: 0px; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}
.contentArea .imgClick .imgArea img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지가 컨테이너를 완전히 채우도록 조정 */
    object-position: center; /* 이미지의 중앙을 기준으로 자름 */
}
.imgArea:hover {
    background-color: rgb(0, 0, 0,0.4);
}


/* 댓글창 컴포넌트 */
.commentDiv {
    width: 96%;
    border: 1px solid #F3F3F3;
    border-radius: 10px;
    padding: 14px;
    margin-bottom: 20px;
    position: relative;
    z-index: 0;
}
/*대댓글 태그용*/
/* .replyAreaDiv{
} */
/*대댓글 닉네임*/
.replyAreaDivText{
    height: 20px;
    background-color: #FFEDD9;
    border-radius: 0px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #101010;
}
/*대댓글 태그 닉*/
.replyNickNameText{
    height: 20px;
    color: #35559e;
    font-family: Spoqa Han Sans Neo;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.03px;
    text-align: left;

}


.textarea{
    outline: none;
    resize: none;
    margin-bottom: 10px;
    width: 100%;
    max-height: 100px;
    
    font-family: Spoqa Han Sans Neo;
    font-size: 16px;
    font-weight: 500;
    border: 0px;
    padding: 0px;
}

.commentNav {
    position: relative;
    z-index: 9999;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 400;
}

.commentNav img {
    width: 24px;
    height: 24px;
}

.commentNav button {
    width: 70px;
    height: 34px;
    border-radius: 26px;
    margin-left: 16px;
    font-size: 14px;
    font-weight: 700;
}

/* 댓글창 컴포넌트 - List */
.mainArea_bodart{
    border-radius: 0px;
    border-bottom: 1px solid #F3F3F3;
    margin-top: 20px;
}

.list {
    margin-bottom: 20px;
    max-width: 100%;
    width: 100%;
}

.listNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    min-width: 404px;
    position: relative; 
}

.listNav .moreImg {
    position: relative;
    z-index: 5;
    height: 20px;
    cursor: pointer;
}


.listName {
    height: 20px;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 6px;
    position: relative;
    z-index: -1;
}

.listName .time {
    font-weight: 400;
    color: #999999;
    margin-left: 10px;
}

.listContent {
    font-weight: 400;
    color: #101010;
    word-break: break-all;
}
.replyNickNameBlue{
    color: #35559E;
    margin-right: 4px;
}

.bigComments {
    display: flex;
}

.bigComments .BcImg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}

/*서브 모달창 모음----------------*/
.moreUi {
    z-index: 100;
    position: absolute;
    background-color: white;
    width: 106px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    padding: 6px 0px;
    border: 1px solid #F3F3F3;
    box-shadow: 0px 2px 3.9px 0px #00000080;
}
.moreUi .text {
    color: #101010;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    width: 106px;
    height: 31px;
    border-radius: 0px;
    cursor: pointer;
}

.moreUi .text:hover {
    background: #F3F3F3;
}

.replyDivText {
    display: flex;
    align-items: center;
    cursor: pointer;

    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: #999999;
    margin-top: 6px;
    width: 100px;
}
.replyDivText img{
    margin-right: 2px;
}
.a{
    position: absolute;
}

.deleteContent {
    background-color: #f4f4F4;
    padding: 20px;
    height: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #BBBBBB;
    word-break: break-all;
}

.deleteReply {
    background-color: #f4f4F4;
    padding: 20px;
    height: 20px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #BBBBBB;
    word-break: break-all;
}