.mainDiv {
    width: 726px;
    background-color: white;
    margin: 10px 0px;
    padding: 20px 30px;
}

.title {
    width: 726px;
    height: 25px;
    padding: 7.5px 0px;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.title img {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

/**/
.dashed {
    border-bottom: 1px solid #F3F3F3;
    border-radius: 0px;
    margin: 20px 0px;
}

/* nav */
.widthNav {
    width: 726px;
    height: 24px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 20px 0px;
}

.widthNav .commentsDiv {
    width: 230px;
    display: flex;
    justify-content: space-between;
}

.widthNav .name {
    font-size: 18px;
    font-weight: 500;
}

.widthNav .comments {
    cursor: pointer;
    padding-right: 20px;
    font-weight: 400;
    color: #999999;
    margin-left: 10px;
}

.widthNav div {
    display: flex;
}

.widthNav img {
    cursor: pointer;
}

.grayText {
    color: gray;
    margin: 0px 6px;
}

/*본문*/
.contentArea {
    width: 726px;
    display: flex;
}

.contentArea .text {
    width: 529px;
    margin-right: 20px;
}

.contentArea img {
    width: 177px;
    height: 177px;
}

/* 댓글창 컴포넌트 */
.commentDiv {
    width: 698px;
    border: 1px solid #F3F3F3;
    border-radius: 10px;
    padding: 14px;
    margin-bottom: 20px;
}

.commentDiv textarea {
    outline: none;
    resize: none;
    margin-bottom: 10px;
    width: 698px;
    font-family: Spoqa Han Sans Neo;
    font-size: 16px;
    font-weight: 500;
    border: 0px;
    padding: 0px;
}

.commentNav {
    width: 698px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 400;
    color: #BBBBBB;
}

.commentNav img {
    width: 24px;
    height: 24px;
}

.commentNav button {
    width: 70px;
    height: 34px;
    border-radius: 26px;
    margin-left: 16px;
    font-size: 14px;
    font-weight: 700;
}

/* 댓글창 컴포넌트 - List */
.list {
    margin-bottom: 20px;
}

.listNav {
    display: flex;
    justify-content: space-between;
    max-width: 726px;
    min-width: 696px;
}

.listName {
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 6px;
}

.listName .time {
    font-weight: 400;
    color: #999999;
    margin-left: 10px;
}

.listContent {
    font-weight: 400;
    color: #101010;
}

.bigComments {
    display: flex;
}

.bigComments .BcImg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}