/*애니메이션*/
.fadein {
  opacity: 0.5; /* 초기 상태: 투명 */
  transform: translateY(-10px); /*초기 위치: 위로 10px 이동*/
  animation: fadeIn 0.4s ease-in-out forwards; /* 애니메이션 적용 */
}
@keyframes fadeIn {
  to {
      opacity: 1; /* 최종 상태: 불투명 */
      transform: translateY(0); /* 최종 위치: 제자리 */
  }
}

/*폰트 로드2*/
@font-face { 
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body, h1, h2, h3, h4, h5, h6, input, textarea{ /*기본 폰트 설정*/
  font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
  color: #101010;
  font-size: 16px;
  text-overflow: ellipsis;
  outline: none;
}

/* 모든 브라우저에서 텍스트 선택을 막음 */
body {
  -webkit-user-select: none; /* Chrome, Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;         /* 표준 문법 */
}

body{ /* 배경 색상 */
  background: #F5F6FB;
}
button { /*기본 버튼 설정*/
  font-weight: 500;
  color: white;
  border-radius: 10px;
  background: #FF8901;
  outline: none;
  border: 0px;
  cursor: pointer;
}
div { /* div 기본 둥글기 */
  border-radius: 20px;
}

/* 스크롤바  */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 12px;
}
::-webkit-scrollbar-thumb	{
  background: #d6d6d6; /* 스크롤바 막대 색상 */
  border-radius: 12px;
}
::-webkit-scrollbar-track{
  background: #f1f1f1;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
