.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.serviceBanner {
    background-color: #40B9D8;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 102px;
    border-radius: 0px;
}

.bannerPosition {
    width: 786px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 102px;
}

.logoPosition {
    margin-top: 5.9px;
}

.serviceLogo {
    width: 270.95px;
}

.logoTitle {
    font-weight: 500;
    font-size: 32px;
    color: #FFFFFF;
    width: 118px;
}

.serviceContents {
    width: 786px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px; 
}

.serviceNav {
    width: 100%;
    display: flex;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.serviceNav .navContent {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
    margin-left: 30px;
    gap: 30px;
    height: 60px;
}

.navItems {
    font-weight: 500;
    font-size: 20px;
    color: #999999;
    position: relative;
}

.navItems.active {
    color: #101010;
}

.navItems:hover::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
    height: 2px;
    background-color: #FF8901;
    border-radius: 18px;
}

.serviceTabContent {
    width: 100%;
    margin-top: 11px;
}

.serviceTitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 20.03px;
    text-align: left;
}

/* FAQ */
.faqContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* margin-top: 11px; */
}

.faqItem {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #ffffff;
}
.faqItemAct{
    
}

.faqHeader {
    display: flex;
    align-items: center;
    justify-content: left;
    cursor: pointer;
}

.faqIcon {
    width: 0px;
    height: 0px;
    margin-right: 10px;
}

.faqDetails {
    display: flex;
    height: 40px;
}

.faqTitle {
    margin: auto;
    margin-left: 30px;
    margin-right: 15px;
    font-size: 16px;
    font-weight: 700;
    color: #101010;
}

.faqSubtitle {
    margin: auto;
    font-size: 15px;
    font-weight: 400;
    color: #999999;
}

.faqContent {
    padding: 10px;
    margin-left: 20px;
    border-radius: 20px;
    background-color: #ffffff;
}

.faqContentText {
    margin-top: 3px;
    margin-top: 3px;
    font-size: 15px;
    font-weight: 500;
    color: #101010;
    line-height: 18.78px;
}

.faqDivider {
    width: 100%;
    height: 1px;
    margin-bottom: 20px;
    background-color: #F3F3F3;
    margin: 0px 30px 0px 30px;
}

/* 문의하기 */
.inqContainer {
    background-color: #FFFFFF;
    border-radius: 20px;
    /* margin-top: 11px; */
    padding: 20px;
}

.inyHeader {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    padding: 10px;
}

.inqIcon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.inqDivider {
    width: 726px;
    height: 1px;
    background-color: #F3F3F3;
    margin: 10px 0;
}

.inqForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin:0 10px 0 10px;
}

.inqField {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.inqField label {
    font-weight: 500;
    font-size: 16px;
    color: #101010;
}

/* 문의 내용 선택 창 */
.inqSelect {
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
    color: #FF8901;
    width: 106px;
    text-align: center;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    width: 106px;
    border: 1px solid #F3F3F3;
    background-color: white;
    transform: translateX(45%) translateY(55%);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;
    box-shadow: 0px 2px 3.9px 0px #00000080;

}

.dropdownItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 31px;
}

.dropdownItem:hover {
    width: 106px;
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
}

.inqInput,
.inqTextarea {
    border: none;
}

.inqInput {
    width:683.77px;
    font-weight: 500;
    font-size: 16px;
}

.inqTextarea {
    width: 100%;
    resize: none;
    font-weight: 500;
    font-size: 15px;
    height: 309px;
}

.fileUpload {
    width: 138px;
    height: 138px;
    border: 1px solid #E3E3E3;
    background-color: #E3E3E3;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0px;
}

/* 문의넣기 버튼 구간 */
.submitButtonContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.submitButton {
    background-color: #BBBBBB;
    color: #FFFFFF;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    margin: 40px 0 50px 0;
}

/* 문의 내역 */
.inquiryContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* margin-top: 11px; */
}

.inquiryItem {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #ffffff;
}

.inquiryHeader {
    display: flex;
    padding: 30px;
    align-items: center;
    cursor: pointer;
}

.inquiryIcon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.inquiryDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
}

.inquiryTitle {
    font-size: 16px;
    font-weight: 700;
    line-height: 20.03px;
    color: #101010;
}

.inquirySubtitle {
    font-size: 15px;
    font-weight: 400;
    line-height: 18.78px;
    color: #999999;
}

.inquiryContent {
    padding: 30px;
    border-radius: 20px;
    background-color: #ffffff;
}

.inquiryContentImage {
    width: 100%;
    max-width: 726px;
    margin: auto;
}

.inquiryContentText {
    font-size: 15px;
    font-weight: 500;
    color: #101010;
    line-height: 18.78px;
}

.noHistory {
    display: flex;
    width: 786px;
    height: 240px;
    gap: 0px;
    border-radius: 20px;
    opacity: 0px;
    background-color: #FFFFFF;

    font-size: 14px;
    font-weight: 500;
    line-height: 17.53px;
    align-items: center;
    justify-content: center;
    color: #999999;


}

/* 제재 내역 */
.sanctionContainer {
    background-color: #FFFFFF;
    border-radius: 20px;
    /* margin-top: 11px; */
    /* padding: 20px; */
}

/* 제재 리스트 */
.sanctionList {
    display: flex;
    flex-direction: column;
}

/* 아이콘 포함 내용 */
.sanctionItem {
    display: flex;
    padding: 30px;
    border-radius: 10px;
    align-items: center;
    background-color: #ffffff;
    position: relative;
}

.sanctionIcon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

/* 제제내역 상세 */
.sanctionDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 726px;
    flex: 1;
}

/* 몇일 정지인지 */
.sanctionTitle {
    font-size: 16px;
    font-weight: 700;
    color: #101010;
}

.sanctionContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* 신고 내용 */
.sanctionSubtitle {
    font-size: 15px;
    font-weight: 400;
    color: #999999;
}

/* 제제 날짜 (~yyyy.mm.dd까지) */
.sanctionDate {
    font-size: 15px;
    font-weight: 400;
    color: #999999;
    text-align: right;
}

.sanctionDivider {
    width: 726px;
    height: 1px;
    background-color: #F3F3F3;
    position: absolute;
    bottom: 0;
}

/* 페이징 */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 14px;
}

.pagePreButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 84px;
}

.pageNextButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 84px;
}

.pageInfo {
    font-size: 16px;
    font-weight: 500;
}