<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jwi.work.mapper.AdminMapper">
    
    <select id ="adminLoginCount" parameterType="com.jwi.work.dto.loginDto.LoginDto" resultType="int">
    	SELECT COUNT(*) WHERE adminId = #{adminId} and adminPw = #{adminPw}
    </select>
    
    
    
    <select id="adminLogin"  parameterType="com.jwi.work.dto.loginDto.LoginDto" resultType="com.jwi.work.dto.adminDto.AdminDto">
        SELECT * FROM  WHERE adminId = #{adminId} and adminPw = #{adminPw}
    </select>
    
    
    
    
</mapper>