<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jwi.work.channel.mapper.ChannelMapper">


	<!-- 채널 생성시 -->

	<select id="channelCheck" parameterType="String"
		resultType="int">
		SELECT COUNT(*) FROM channel WHERE id = #{channelId}
	</select>

	<insert id="channelCreate" parameterType="map">
		INSERT INTO channel (id,name,imageUrl,followerCount) value
		(#{id},#{name},#{imageUrl},#{followerCount})
	</insert>


	<!-- 채널 검색시 -->

	<select id="searchChannelCount" parameterType="map">
		SELECT COUNT(*) FROM channel WHERE name LIKE
		CONCAT('%',#{search},'%')
	</select>

	<select id="searchChannel" parameterType="map" >
		SELECT * FROM channel WHERE name LIKE
		CONCAT('%',#{search},'%')
		LIMIT	#{offset},#{limit}
	</select>

	<!-- 개시글 검색시 -->
	<select id="searchPostCount" parameterType="map">
		SELECT COUNT(*) FROM channel WHERE post LIKE
		CONCAT('%',#{search},'%')
	</select>

	<select id="searchPost" parameterType="map">
		SELECT * FROM channel WHERE post LIKE
		CONCAT('%',#{search},'%')
		LIMIT	#{offset},#{limit}
	</select>



</mapper>