<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jwi.work.channel.mapper.ChannelMapper">


	<!-- 채널 생성시 -->

	<select id="channelCheck" parameterType="String"
		resultType="int">
		SELECT COUNT(*) FROM channel WHERE id = #{channelId}
	</select>

	<insert id="channelCreate" parameterType="com.jwi.work.channel.dto.bodyDto.ChannelCreateDto">
		INSERT INTO channel (id,name,imageUrl,followerCount) value
		(#{id},#{name},#{imageUrl},#{followerCount})
	</insert>

	<select id="channelGet" parameterType="String" resultType="com.jwi.work.channel.dto.channelDto.ChannelDto">
		SELECT * FROM channel WHERE id = #{channelId}
	</select>
	
    <!-- 인기게시판 :: 일정 기간 내 게시글 -->
    <select id="HotBoardGet" parameterType="map" resultType="com.jwi.work.channel.dto.channelDto.ChannelDto">
		SELECT 
		    c.name,
		    c.imageUrl,
		    c.id,
		    COUNT(*) AS post_count
		FROM post p
		JOIN channel c ON p.channelKey = c.channelKey
		WHERE p.createdAt BETWEEN #{startTime} AND #{endTime}
		GROUP BY c.channelKey, c.name, c.imageUrl
		ORDER BY post_count DESC
		LIMIT 0, 10
    </select>
    
        <!-- 추천 :: 그냥 7개 무작위 -->
    <select id="RandomBoard" parameterType="map" resultType="com.jwi.work.channel.dto.channelDto.ChannelDto">
		SELECT * 
		FROM channel
		ORDER BY RAND()
		LIMIT 7;
    </select>



</mapper>