<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jwi.work.channel.mapper.ReplyMapper">

<insert id="replyCreate" parameterType="com.jwi.work.channel.dto.bodyDto.ReplyCreateDto">
	INSERT INTO reply(commentKey,replyreplyKey,userKey,reply)
		SELECT 
		#{commentKey},#{replyreplyKey},userKey,#{reply}
	FROM 
		userConnection
	WHERE
		sessionId = #{sessionId}
</insert>


	<update id="replyDeleteByUser" parameterType="com.jwi.work.channel.dto.bodyDto.DeleteByUser">
		UPDATE reply SET state = 'delete' WHERE replyKey = #{referenceKey} AND userKey = (SELECT userKey FROM userConnection WHERE sessionId = #{sessionId})
	</update>


</mapper>