/*TODO.
    - hover 정보 받기
    - logo svg 받기
    - 아이콘 svg 받기(2)
*/

.basicNav{ /* 상단 바 전체 영역*/
    font-size: 14px;
    background-color: white;
    max-width: 100%;
    height: 40px;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between; /* 수평 정렬 */
    align-items: center; /* 수직 정렬 */
}
.basicNav div{ /* 상단 바 하위 div 정렬 코드*/
    display: flex;
    align-items: center; /* 수직 정렬 */
}
.divWidth{
    background-color: red;
    max-width: 750px;
    min-width: 130px;
}
.basicNav div input { /* 상단 바 input 태그 스타일 */
    font-size: 14px;
    border: 2px solid #FF8901;
    width: 375px;
    min-width: 130px;
    height: 24px;
    border-radius: 80px;
    padding: 8px 16px;
    margin: 0px 10px;
}
.basicNav div input:focus { /* 상단 바 input 태그 스타일 */
    border: 2px solid #FF8901;
    outline: none;
}
.basicNav .icon{
    background-color: red;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    max-width: 750px;
    min-width: 130px;
}
.basicNav .icon div{
    margin-left: 5px;
}
.basicNav .signUpBtn{ /* 로그인 버튼 디자인 */
    border: 1px solid #FF8901;
    border-radius: 4px;
    color: #FF8901;
    padding: 6px 20px;
    cursor: pointer;
}
.basicNav .signUpBtn:hover{ 
    background-color: rgb(248, 248, 248);
}