/*TODO.
    - hover 정보 받기
    - logo svg 받기
    - 아이콘 svg 받기(2)
*/
body{
    min-width: 730px;
    margin: 0px;
}
.basicNav{ /* 상단 바 전체 영역*/
    z-index: 10;
    font-size: 14px;
    background-color: white;
    max-width: 100%;
    min-width: 700px;
    height: 40px;
    padding: 10px 35px;
    display: flex;
    justify-content: space-between; /* 수평 정렬 */
    align-items: center; /* 수직 정렬 */
    position: relative;
}
.divWidth{
    max-width: 750px;
    min-width: 150px;
    height: 40px;
}
.basicNav div input { /* 상단 바 input 태그 스타일 */
    font-size: 14px;
    border: 2px solid #FF8901;
    width: 343px;
    height: 20px;
    border-radius: 80px;
    padding: 8px 16px;
    margin: 0px 10px;
    
}
.basicNav div input:focus { /* 상단 바 input 태그 스타일 */
    border: 2px solid #FF8901;
    outline: none;
}
.basicNav .icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    max-width: 750px;
    min-width: 150px;
}
.basicNav .icon div{
    display: flex;
    justify-content: space-between;
}
.basicNav .signUpBtn{ /* 로그인 버튼 디자인 */
    border: 1px solid #FF8901;
    border-radius: 4px;
    color: #FF8901;
    padding: 6px 20px;
    cursor: pointer;
}
.basicNav .signUpBtn:hover{ 
    color: white;
    background-color: #FF8901;
    border: 1px solid white;
}
/* JustSearch 모달 */
.JustSearchBase{
    z-index: 20;
    width: 337px;
    border-radius: 20px;
    border: 1px solid #F3F3F3;
    background: #FFFFFF;
    padding: 0px 20px;
    position: absolute;
    left: 50%;
    top: 54px;
    transform: translate(-50%, -0%);
    margin: 0px 0px;
}
.JustSearchBase h4{
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    margin: 20px 0px;
}
.JustSearchBase p{
    font-size: 14px;
    font-weight: 500;
    line-height: 17.53px;
    text-align: center;
    color: #999999;
    left: 50%;
    top: 50%;
    margin: 82px 90px 98px 90px;
}
.JustSearchBase .mainDiv{
    width: 337px;
}
.JustSearchBase .list{
    width: 337px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    color:#101010;
}
.JustSearchBase .list div{
    display: flex;
    justify-content: space-between;
    align-items: center; /* 수직 정렬 */
    margin-bottom: 10px;
}
.JustSearchBase .list div p{
    width: 260px;
    text-align: start;
    word-wrap: break-word;
    padding: 0px 5px;
    margin: 0px;
}
.JustSearchBase .list div p:hover{
    background-color: #F3F3F3;
    padding: 0px 10px;
}
.JustSearchBase img{
    height: 20px;
}