.mainDiv{
    width: 598px;
    height: 24px;
    margin: 80px auto 100px auto;
    display: flex;
    font-size: 16px;
    font-weight: 400;
}
.mainDiv .numText{
    cursor: pointer;
    width: 10px;
    height: 20px;
    margin: 0px 20px;
}