.bookmarkButton {

    display: flex;
    justify-content: space-between;
    color: #FF8901;
    padding: 9px 16px;
    height: 20px;
    width: 74px;
    background-color: #FFEDD9;
}

.bookmarkButton:hover {

    color: #FFEDD9;
    background-color: #FF8901;
}

.bookmarkButton img {
    height: 20px;
    width: 20px;
    margin-right: 2px;

}

.bookmarkText {
    /* width: 106px; */
    height: 18px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    user-select: none;
}



.bookmark{
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin-bottom: 72px;
}


.bookMark{
    width: 123px;
    height: 38px;
    border-radius: 83px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E5E5;
    cursor: pointer;
}
.bookMark img{
    width: 20px;
    height: 20px;
    margin-right: 2px;
}

.bookMark .text{
    font-size: 14px;
    font-weight: 700;
    color: #999999;
    padding: 0px;
}