.ChannelHome {
    border-radius: 0px;
}

.mainList {
    width: 1194px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;

}


.listLeft {
    width: 786px;
    margin-right: 15px;
}



.listRight {
    margin-left: 15px;
    width: 378px;
}