.channelInfoBack {
    /* 얘가 전역*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 1194px;
    margin: auto;
}




.backgroundImage {

    background-color: #002761;
    height: 102px;
    width: 100%;
    border-radius: 0px;
}

.backgroundImage img {

    margin-left: 50%;
}

.gradinetMainBanner {
    width: 100%;
    height: 550px;

    background: linear-gradient(to right, rgba(16, 16, 16, 1) calc(50% - 400px), rgba(7, 7, 7, 0) 50%, rgba(16, 16, 16, 1) calc(50% + 400px)),
        linear-gradient(180deg, rgba(16, 16, 16, 0) 27.5%, rgba(16, 16, 16, 0.9) 85.5%);

    display: flex;
    justify-content: center;
    border-radius: 0px;
    overflow: hidden;
    /* 추가: 넘치는 내용 숨김 */

}

.MainBanner {
    /* 라이브 이미지 영역*/
    width: 1194px;
    height: 550px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.MainBanner img {
    /* 라이브 이미지*/
    height: 100%;
    z-index: -1;
    position: absolute;
}

.liveInfo {
    /* Live 방송 정보 */
    position: absolute;
    z-index: 0;
    width: 497px;
    top: 161px;
    left: 0px;
    border-radius: 0;

}


.liveIcon {
    /* 라이브 아이콘 */
    background-color: red;
    width: 52px;
    height: 19px;
    padding: 2px 9px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #E5E5E5;
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 15.02px;
    letter-spacing: 0.0075em;
    text-align: center;
    user-select: none;

}

.point {
    background-color: #E5E5E5;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    margin-right: 4px;
}

.liveTitle {
    /*방송 제목*/
    width: auto;
    word-wrap: break-word;
    font-size: 32px;
    font-weight: 500;
    line-height: 40.06px;
    letter-spacing: 0.0075em;
    text-align: left;
    color: #E5E5E5;
    margin-bottom: 20px;
    
}

