.channelInfoBack {
    /* 얘가 전역*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}




.backgroundImage {
    background-color: #002761;
    height: 102px;
    width: 100%;
    border-radius: 0px;
}

.backgroundImage img {

    margin-left: 50%;
}

.gradinetMainBanner {
    width: 100%;
    height: 490px;
    background: linear-gradient(to right, rgba(0, 0, 0, 1) calc(50% - 400px), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) calc(50% + 400px));
    display: flex;
    justify-content: center;
    border-radius: 0px;
    overflow: hidden;
    /* 추가: 넘치는 내용 숨김 */

}

.MainBanner {
    /* 라이브 이미지 영역*/
    width: 1194px;
    height: 490px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.MainBanner img {
    /* 라이브 이미지*/
    height: 100%;
    z-index: -1;
    position: absolute;
}

.liveInfo {
    /* Live 방송 정보 */
    position: absolute;
    z-index: 0;
    width: 497px;
    bottom: 162px;
    left: 0px;
    border-radius: 50%;

}


.liveIcon {
    background-color: red;
    width: 52px;
    height: 19px;
    padding: 2px 9px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #E5E5E5;
}

.aa {
    background-color: #E5E5E5;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    margin-right: 4px;
}

.liveTitle {
    width: auto;
    word-wrap: break-word;


    font-size: 32px;
    font-weight: 500;
    line-height: 40.06px;
    letter-spacing: 0.0075em;
    text-align: left;
    color: #E5E5E5;

}

.liveGoing {
    width: 162px;
    height: 38px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: 700;
    line-height: 17.53px;
    letter-spacing: 0.0075em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #F3F3F3;

}