.postCreact {
    /*전역*/
    position: relative;
    padding: 20px 30px;
    background-color: white;
    margin-bottom: 10px;
    z-index: 1;
}



.postCreact .placeholderContentTop {
    /*글작성시 주의사항 상단*/
    position: absolute;
    width: 800px;
    z-index: 2;
    font-size: 18px;
    font-weight: 500;
    line-height: 22.54px;
    text-align: left;
    user-select: none;
    color : #BBBBBB;
    
  }

.postCreact .placeholderContentBottom{
    /*글작성시 주의사항 하단*/
    position: absolute;
    z-index: 2;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.54px;
    text-align: left;
    user-select: none;
    color : #BBBBBB;
}

.contentArea {
    /*글 작성 박스*/
    position: relative;
    z-index: 3;
    font-size: 18px;
    font-weight: 500;
    line-height: 22.54px;
    text-align: left;
    max-height: 300px;
    width: 726px;
    min-height: 123px;
    list-style: none;
    border: none;
    resize: none;
    outline: none;
    padding: 0px;
    overflow: auto;
    border-radius: 0px;
    
}


.dashed {
    /*회색줄*/
    border-bottom: 1px solid #F3F3F3;
    border-radius: 0px;
    margin: 20px 0px;
}

.postCreactIconBox {
    /*게시글 작성 하단 아이콘*/
    display: flex;
    align-items: center;
    width: 726px;
    height: 40px;
}

/* 이모트 아이콘 box*/
.emotIcon {
    height: 24px;
    width: 24px;
    margin-right: 14px;
}

/* 이모트 아이콘 img*/
.emotIcon img {
    height: 24px;
    width: 24px;
}

/* 이미지 아이콘 box*/
.imageIcon {
    height: 24px;
    width: 24px;
    margin-right: 502px;
}

/* 이미지 아이콘 img*/
.imageIcon img {

    height: 24px;
    width: 24px;

}

.textareaSize {
    /*작성된 글 사이즈*/
    font-size: 15px;
    font-weight: 400;
    line-height: 18.78px;
    text-align: right;
    height: 19px;
    width: 60px;
    margin-top: 11px;
    margin-right: 16px;
    margin-bottom: 10px;
}

.postCreactButton {
    /*게시글 작성 버튼*/
    font-size: 16px;
    font-weight: 700;
    line-height: 20.03px;
    letter-spacing: 0.0075em;
    color : #FFFFFF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 86px;
    height: 40px;
    background-color: orange;
    user-select: none;
}